@charset "UTF-8";
/*
Theme Name: Twenty Nineteen
Theme URI: https://wordpress.org/themes/twentynineteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. Twenty Nineteen is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: WordPress 4.9.6
Version: 1.4
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: twentynineteen
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Twenty Nineteen is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/**********
GLOBAL
************/
body {
  margin: 0;
}

.main-content {
  min-height: 80vh;
}

.container-fluid {
  width: 95%;
}

/**********
FONTS
************/
@font-face {
  font-family: Optima;
  src: url("assets/fonts/Optima.ttc");
}

@font-face {
  font-family: BasisGrotesquePro;
  src: url("assets/fonts/BasisGrotesquePro-Regular.otf");
}

/**********
TITLES
************/
.title-md {
  font-family: Optima;
  font-size: 56px;
  color: #26527C;
}

@media (max-width: 1024px) {
  .title-md {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .title-md {
    font-size: 40px;
  }
}

.text-default {
  font-family: Optima;
  color: #595959;
}

.text-link {
  color: #0077EC;
  text-decoration: underline;
  font-family: Optima;
  font-size: 16px;
}

.text-blue {
  color: #0077EC;
}

/**********
BACKGROUND
************/
.bg-blue {
  background: linear-gradient(-90deg, #f2faff 0%, #d5e8ff 100%);
}

.bg-gray {
  background-color: #F6F6F6;
}

/**********
ICONS
************/
@keyframes MoveUpDown {
  50% {
    bottom: 5px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  margin-bottom: 20px;
}

.scroll-down p {
  margin-bottom: 35px;
  font-size: 12px;
  color: #fff;
  opacity: .4;
}

.icon-scrolldown {
  background-image: url("assets/images/icons/icon-scrolldown.png");
  height: 25px;
  width: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  animation: MoveUpDown 1s linear infinite;
}

.icon-next {
  background-image: url("assets/images/icons/icon-arrow.png");
  height: 28px;
  width: 130px;
  display: block;
  background-repeat: no-repeat;
}

/**********
HEADER
************/
header {
  background-color: transparent;
}

header.main-header .navbar {
  width: 100%;
}

@media (max-width: 991px) {
  header.main-header .navbar {
    padding: 0;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar {
    padding: 0;
  }
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-toggler {
    border: 1px solid #ddd;
    z-index: 1;
    margin-left: 20px;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-toggler {
    border: 1px solid #ddd;
    z-index: 1;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-toggler span {
    color: #fff;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-toggler span {
    color: #fff;
  }
}

header.main-header .navbar .navbar-toggler span:focus, header.main-header .navbar .navbar-toggler span:active, header.main-header .navbar .navbar-toggler span:hover {
  outline: none;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
    outline: none;
    background-color: #fff;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
    outline: none;
    background-color: #fff;
  }
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
    color: #000;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
    color: #000;
  }
}

header.main-header .navbar .navbar-brand {
  margin-right: 84px;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  header.main-header .navbar .navbar-brand {
    margin-right: 30px;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-brand {
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-brand {
    margin-right: 20px;
    margin-top: 10px;
  }
}

header.main-header .navbar .navbar-nav .nav-item {
  display: inline-block;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item:hover {
    background-color: #26527c;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item:hover {
    background-color: #26527c;
  }
}

header.main-header .navbar .navbar-nav .nav-item.current-menu-item a {
  color: #fff;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item.current-menu-item a {
    color: #fff;
    background-color: #26527C;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item.current-menu-item a {
    color: #fff;
    background-color: #26527C;
  }
}

header.main-header .navbar .navbar-nav .nav-item a {
  color: #D8D8D8;
  padding: 30px 20px !important;
  position: relative;
}

header.main-header .navbar .navbar-nav .nav-item a:hover {
  color: #fff;
  text-decoration: none;
}

header.main-header .navbar .navbar-nav .nav-item a:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 0;
  bottom: 20px;
  background: #fff;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item a:after {
    display: none;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item a:after {
    display: none;
  }
}

header.main-header .navbar .navbar-nav .nav-item a:hover:after, header.main-header .navbar .navbar-nav .nav-item a:focus:after, header.main-header .navbar .navbar-nav .nav-item a:active:after {
  right: 0;
  left: auto;
  width: 100%;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item a {
    color: #000;
    padding: 15px !important;
    font-size: 14px;
    display: block;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item a {
    color: #000;
    padding: 15px !important;
    font-size: 14px;
    display: block;
  }
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item a .fa {
    float: left;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item a .fa {
    float: left;
  }
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children > a {
  position: relative;
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children > a:before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children > a:before {
    top: 20px;
    left: 20px;
  }
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu {
  top: 45px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: 0;
  display: none;
  position: absolute;
  border-radius: 2px;
  padding: 7px 0;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu {
    position: relative;
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 0;
    width: 100%;
    background-color: #26527c;
    top: 0;
    padding: 0;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu {
    position: relative;
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 0;
    width: 100%;
    background-color: #26527c;
    top: 0;
    padding: 0;
  }
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 30%;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu:before {
    display: none;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu:before {
    display: none;
  }
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li {
  list-style: none;
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li a {
  list-style: none;
  padding: 10px  !important;
  display: block;
  color: #212529;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li a {
    color: #fff;
    padding-right: 25px !important;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li a {
    color: #fff;
    padding-right: 25px !important;
  }
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li a:after {
  display: none;
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children .sub-menu li a:hover {
  background-color: #fff;
}

header.main-header .navbar .navbar-nav .nav-item.menu-item-has-children:hover .sub-menu {
  display: block;
}

@media (max-width: 991px) {
  header.main-header .navbar .navbar-collapse {
    background-color: #fff;
    z-index: 1;
    margin-top: 10px;
  }
}

@media (max-width: 667px) {
  header.main-header .navbar .navbar-collapse {
    background-color: #fff;
    z-index: 1;
    margin-top: 10px;
  }
}

header.header-subpage {
  background-color: #232f3b;
}

header.header-subpage .navbar .navbar-brand {
  margin: 0;
}

/**********
SECTIONS
************/
section {
  padding: 60px 0;
}

@media (max-width: 1024px) {
  section {
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  section {
    padding: 20px 0;
  }
}

@media (max-width: 667px) {
  section {
    padding: 30px 0;
  }
}

/**********
BANNER
************/
.section-banner {
  padding: 0;
}

/**********
EXPERTISE
************/
.section-expertise {
  position: relative;
}

.section-expertise .container {
  border-bottom: 1px solid #D8D8D8;
}

.section-expertise .container p {
  margin-top: 60%;
}

@media (max-width: 1024px) {
  .section-expertise .container p {
    margin-top: 35%;
  }
}

@media (max-width: 768px) {
  .section-expertise .container p {
    margin-top: 15%;
  }
}

@media (max-width: 667px) {
  .section-expertise .container p {
    margin-top: 0;
  }
}

/**********
CLIENTS
************/
.clients-list {
  margin-top: 50px;
}

@media (max-width: 667px) {
  .clients-list {
    margin-top: 20px;
  }
}

.clients-list .client-item {
  height: 240px;
  width: 290px;
  padding: 70px 0;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .clients-list .client-item {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .clients-list .client-item {
    width: 100%;
    height: 140px;
    padding: 10px 0;
  }
}

@media (max-width: 667px) {
  .clients-list .client-item {
    width: 100%;
  }
}

.clients-list .client-item img {
  width: 106px;
  height: 106px;
}

@media (max-width: 667px) {
  .clients-list .client-item img {
    width: 100%;
  }
}

/**********
TESTIMONIALS
************/
.section-testimonial .bg-blue {
  padding: 60px;
}

@media (max-width: 667px) {
  .section-testimonial .bg-blue {
    padding: 30px;
  }
}

.section-testimonial .item .testimonial-msg {
  font-family: Optima;
  font-size: 32px;
  color: #26527C;
  line-height: 40px;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
}

@media (max-width: 1024) {
  .section-testimonial .item .testimonial-msg {
    font-size: 24px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .section-testimonial .item .testimonial-msg {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 667px) {
  .section-testimonial .item .testimonial-msg {
    font-size: 16px;
    line-height: 20px;
  }
}

.section-testimonial .item .testimonial-author {
  font-family: BasisGrotesquePro;
}

.section-testimonial .owl-theme .owl-prev {
  display: none !important;
}

.section-testimonial .owl-theme .owl-dots {
  margin-bottom: 30px;
  text-align: right !important;
}

.section-testimonial .owl-theme .owl-dots .owl-dot button {
  background: transparent !important;
  border: none;
  font-family: BasisGrotesquePro;
  color: #D8D8D8;
}

.section-testimonial .owl-theme .owl-dots .owl-dot.active {
  position: relative;
  padding-left: 50px;
}

.section-testimonial .owl-theme .owl-dots .owl-dot.active:after {
  content: "______";
  position: absolute;
  top: -7px;
  padding-right: 5px;
  color: #D8D8D8;
}

.section-testimonial .owl-theme .owl-dots .owl-dot.active:after:last-child {
  content: "";
  display: none;
}

.section-testimonial .owl-theme .owl-dots .owl-dot.active button {
  color: #26527C;
}

.section-testimonial .owl-theme .owl-dots .owl-dot:focus button {
  outline: none;
  box-shadow: none;
}

.section-testimonial .owl-theme .owl-dots .owl-dot:focus button:focus {
  outline: none;
}

.section-testimonial .owl-theme .owl-nav {
  margin-top: 90px;
}

@media (max-width: 667px) {
  .section-testimonial .owl-theme .owl-nav {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.section-testimonial .owl-theme .owl-nav button.owl-next {
  position: absolute;
  left: 0;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}

.section-testimonial .owl-theme .owl-nav button.owl-next:hover {
  transform: translate(-2.5em, 0);
  -webkit-transform: translate(-2.5em, 0);
  -moz-transform: translate(-2.5em, 0);
  -o-transform: translate(-2.5em, 0);
  -ms-transform: translate(-2.5em, 0);
}

@media (max-width: 667px) {
  .section-testimonial .owl-theme .owl-nav button.owl-next {
    bottom: -45px;
  }
}

.section-testimonial .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  outline: none;
}

/**********
FOOTER
************/
footer {
  background-color: #232F3B;
  padding: 60px 0;
}

@media (max-width: 768px) {
  footer {
    padding: 40px 0px;
  }
}

@media (max-width: 667px) {
  footer {
    padding: 40px 0px;
  }
}

@media (max-width: 667px) {
  footer .text-right {
    text-align: center !important;
  }
}

footer section.widget {
  padding: 0;
}

footer section.widget h2 {
  display: none;
}

footer .footer-upper {
  border-bottom: 1px solid #979797;
}

footer .footer-upper .footer-brand {
  margin-bottom: 30px;
}

@media (max-width: 667px) {
  footer .footer-upper .footer-brand {
    text-align: center;
    margin-bottom: 20px;
  }
}

footer .footer-upper .footer-menu {
  padding-right: 0;
  margin-bottom: 0;
}

footer .footer-upper .footer-menu li {
  display: inline;
}

footer .footer-upper .footer-menu li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  /* margin-bottom: 0; */
  font-family: BasisGrotesquePro;
  font-size: 14px;
}

@media (max-width: 768px) {
  footer .footer-upper .footer-menu li a {
    padding: 10px 15px;
  }
}

@media (max-width: 667px) {
  footer .footer-upper .footer-menu li a {
    padding: 20px 8px;
  }
}

footer .footer-upper .footer-menu li:last-child a {
  padding-left: 0;
}

footer .footer-bottom p {
  font-family: Optima;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 30px;
}

@media (max-width: 768px) {
  footer .footer-bottom p {
    margin-top: 16px;
    font-size: 13px;
  }
}

@media (max-width: 667px) {
  footer .footer-bottom p {
    margin: 10px 0;
  }
}

/**********
BUTTONS
************/
.btn {
  display: inline-block;
  vertical-align: top;
  outline: none;
  text-align: center;
  border: 1px solid;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -o-border-radius: .2rem;
  border-radius: .2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  overflow: hidden;
}

.btn.focus,
.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none;
}

.btn:after {
  content: "";
  display: block;
  width: 100%;
  height: 2rem;
  position: absolute;
  right: -95%;
  bottom: 15%;
  background-color: #fff;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.btn:hover:after {
  transition: all .3s ease;
  right: 100%;
}

button:focus {
  outline: none;
}

.btn-white {
  border: 4px solid #B0B5BE;
  background-color: #fff;
  font-family: BasisGrotesquePro;
  font-size: 14px;
  padding: 10px 30px;
  -webkit-appearance: none;
}

.btn-white:hover {
  background-color: #ccc;
}

/**********
BANNER
************/
.section-banner {
  min-height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 667px) {
  .section-banner {
    background-position: top;
    background-size: cover;
  }
}

.section-banner .banner-text {
  position: absolute;
  top: 30%;
  width: 43%;
}

@media (max-width: 1024px) {
  .section-banner .banner-text {
    top: 25%;
    width: 60%;
  }
}

@media (max-width: 991px) {
  .section-banner .banner-text {
    top: 20%;
    width: 80%;
  }
}

@media (max-width: 667px) {
  .section-banner .banner-text {
    top: 20%;
    width: 80%;
  }
}

.section-banner .banner-text h2 {
  font-family: Optima;
  font-size: 56px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .section-banner .banner-text h2 {
    font-size: 44px;
  }
}

@media (max-width: 667px) {
  .section-banner .banner-text h2 {
    font-size: 28px;
  }
}

.section-banner .banner-text p {
  font-family: Optima;
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  width: 95%;
}

@media (max-width: 667px) {
  .section-banner .banner-text p {
    margin-bottom: 40px;
  }
}

/**********
VENN
************/
.venn-container {
  padding: 25px 200px 25px 25px;
}

@media (max-width: 991px) {
  .venn-container {
    padding: 20px 180px 20px 20px;
  }
}

@media (max-width: 667px) {
  .venn-container {
    padding: 20px 180px 20px 20px;
  }
}

.venncirctop {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-bottom: -154px;
  margin-right: -70px;
  background-color: #5c5b59;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 1;
  position: relative;
  text-align: center;
}

@media (max-width: 1024px) {
  .venncirctop {
    width: 200px;
    height: 200px;
    margin-bottom: -140px;
  }
}

@media (max-width: 667px) {
  .venncirctop {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 991px) {
  .venncirctop {
    width: 150px;
    height: 150px;
  }
}

.venncirctop > a {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Optima;
  font-size: 18px;
  color: #26527C;
}

.venncirctop:hover {
  z-index: 5;
  transform: scale(1.1);
  background-color: #37688C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(55, 104, 140, 0.9);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.venncirctop:hover a {
  color: #fff;
}

.venncirctop:hover .venntxttop {
  top: 35%;
}

.venncirctop .venntxttop {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

@media (max-width: 991px) {
  .venncirctop .venntxttop {
    top: 0;
  }
}

@media (max-width: 667px) {
  .venncirctop .venntxttop {
    top: 0;
  }
}

.venncirctop .venntxttop:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.venncirclft {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-right: -185px;
  background-color: #093d5c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 2;
}

@media (max-width: 1024px) {
  .venncirclft {
    width: 200px;
    height: 200px;
    margin-top: 6%;
    margin-right: -155px;
  }
}

@media (max-width: 991px) {
  .venncirclft {
    margin-right: -140px;
    margin-top: 70px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 667px) {
  .venncirclft {
    margin-right: -140px;
    margin-top: 70px;
    width: 150px;
    height: 150px;
  }
}

.venncirclft > a {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Optima;
  font-size: 18px;
  color: #26527C;
}

.venncirclft:hover {
  z-index: 5;
  transform: scale(1.1);
  background-color: #37688C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(55, 104, 140, 0.9);
  color: #fff;
  align-items: center;
  justify-content: center;
}

.venncirclft:hover a {
  color: #fff;
}

.venncirclft:hover .venntxtlft {
  right: 35%;
}

@media (max-width: 991px) {
  .venncirclft:hover .venntxtlft {
    right: 25%;
  }
}

.venncirclft .venntxtlft {
  width: 70%;
  display: inline-block;
  position: relative;
  top: 90px;
  z-index: 5;
}

@media (max-width: 1024px) {
  .venncirclft .venntxtlft {
    top: 50px;
    right: 0px;
  }
}

@media (max-width: 991px) {
  .venncirclft .venntxtlft {
    top: 35px;
    right: -13px;
  }
}

@media (max-width: 667px) {
  .venncirclft .venntxtlft {
    top: 35px;
    right: -13px;
  }
}

.venncirclft .venntxtlft:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.venncircrt {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-right: 60px;
  background-color: #5e577b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 3;
  text-align: left;
}

@media (max-width: 1024px) {
  .venncircrt {
    width: 200px;
    height: 200px;
    margin-top: 6%;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .venncircrt {
    margin-top: 70px;
    margin-right: -12px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 667px) {
  .venncircrt {
    margin-top: 70px;
    margin-right: -12px;
    width: 150px;
    height: 150px;
  }
}

.venncircrt > a {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Optima;
  font-size: 18px;
  color: #26527C;
}

.venncircrt:hover {
  z-index: 5;
  transform: scale(1.1);
  background-color: #37688C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(55, 104, 140, 0.9);
  color: #fff;
  align-items: center;
  justify-content: center;
}

.venncircrt:hover a {
  color: #fff;
}

.venncircrt:hover .venntxtrt {
  left: 35%;
}

.venncircrt .venntxtrt {
  margin: 0 87px 0 0;
  display: inline-block;
  position: relative;
  top: 97px;
  z-index: 5;
}

@media (max-width: 1024px) {
  .venncircrt .venntxtrt {
    top: 50px;
  }
}

@media (max-width: 991px) {
  .venncircrt .venntxtrt {
    top: 30px;
    left: 18px;
  }
}

@media (max-width: 667px) {
  .venncircrt .venntxtrt {
    top: 30px;
    left: 18px;
  }
}

.venncircrt .venntxtrt:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.venncircbtm {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  top: 116px;
  margin-left: 100px;
  margin-right: -70px;
  text-align: center;
  background-color: #627746;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 1;
  position: relative;
}

@media (max-width: 1024px) {
  .venncircbtm {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-right: -65px;
  }
}

@media (max-width: 991px) {
  .venncircbtm {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 667px) {
  .venncircbtm {
    width: 150px;
    height: 150px;
  }
}

.venncircbtm > a {
  font-weight: bold;
  letter-spacing: .004em;
  text-decoration: none;
  font-family: Optima;
  font-size: 18px;
  color: #26527C;
}

.venncircbtm:hover {
  z-index: 5;
  transform: scale(1.1);
  background-color: #37688C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(55, 104, 140, 0.9);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.venncircbtm:hover a {
  color: #fff;
}

.venncircbtm:hover .venntxtbtm {
  top: 40%;
}

.venncircbtm .venntxtbtm {
  text-align: center;
  display: inline-block;
  width: 70%;
  position: relative;
  top: 160px;
}

@media (max-width: 1024px) {
  .venncircbtm .venntxtbtm {
    width: 90%;
    top: 60%;
  }
}

@media (max-width: 991px) {
  .venncircbtm .venntxtbtm {
    top: 82px;
    width: 100%;
  }
}

@media (max-width: 667px) {
  .venncircbtm .venntxtbtm {
    top: 82px;
    width: 100%;
  }
}

.venncircbtm .venntxtbtm:hover {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 667px) {
  .venncircbtm .venncircle {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1024px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 12px;
  }
}

@media (max-width: 667px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 12px;
  }
}
