/**********
HEADER
************/

header {
    background-color: transparent;

    &.main-header {

      .navbar {
          width: 100%;

          @media(max-width: 991px) { 
            padding: 0;
          }
          @media(max-width: 667px) {
            padding: 0;
          }

          .navbar-toggler {

            @media(max-width: 991px) { 
              border: 1px solid #ddd;
              z-index: 1;
              margin-right: 20px;
            }
            @media(max-width: 667px) {
              border: 1px solid #ddd;
              z-index: 1;
              margin-right: 20px;
            }

            span{
              @media(max-width: 991px) { 
                color: #fff;
              }
              @media(max-width: 667px) {
                color: #fff;
              }

              &:focus,
              &:active,
              &:hover {
                outline: none;
              }
            }

            &:focus,
            &:hover {
              @media(max-width: 991px) {

                outline: none;
                background-color: #fff;

              }
              @media(max-width: 667px) {

                outline: none;
                background-color: #fff;

              }

              span {
                 @media(max-width: 991px) {
                      color: #000;
                  }
                 @media(max-width: 667px) {
                      color: #000;
                  }
              }
            }

          }


          .navbar-brand {
              margin-left: 84px;
              margin-top: 50px;

              @media(max-width: 1024px) {
                margin-left: 30px;
                margin-top: 25px;
              }

              @media(max-width: 991px) {
                margin-left: 20px;
                margin-top: 10px;
              }

              @media(max-width: 667px) {
                margin-left: 20px;
                margin-top: 10px;
              }
          }

          .navbar-nav {
            .nav-item {

              display: inline-block;
              
              &:hover {
                @media(max-width: 991px) {
                background-color: #26527c;
                }
                @media(max-width: 667px) {
                background-color: #26527c;
                }
              }

              &.current-menu-item  {
                a {
                  color: #fff;

                  @media(max-width: 991px) {
                    color: #fff;
                    background-color: #26527C;
                  }
                  @media(max-width: 667px) {
                    color: #fff;
                    background-color: #26527C;
                  }
                }
              }

              a {
                color: #D8D8D8;
                padding: 30px 20px !important;
                position: relative;

                &:hover{
                    color: #fff;
                    text-decoration: none;
                }

                &:after {
                  content: "";
                  position: absolute;
                  z-index: 1;
                  right: 0;
                  width: 0;
                  bottom: 20px;
                  background: #fff;
                  height: 2px;
                  transition-property: width;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;

                  @media(max-width: 991px) {
                    display: none;
                  }
                  @media(max-width: 667px) {
                    display: none;
                  }
                }



                &:hover:after,
                &:focus:after,
                &:active:after {
                  left: 0;
                  right: auto;
                  width: 100%;
                }

                @media(max-width: 991px) {
                  color: #000;
                  padding: 15px !important;
                  font-size: 14px;
                  display: block;
                }


                @media(max-width: 667px) {
                  color: #000;
                  padding: 15px !important;
                  font-size: 14px;
                  display: block;
                }

                .fa {
                  @media(max-width: 991px) {
                    float: right;
                  }
                  @media(max-width: 667px) {
                    float: right;
                  }
                }
              }

              &.menu-item-has-children {
                > a {
                  position: relative;

                  &:before {
                    content: "\f107";
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;

                    position: absolute;
                    top: 30px;
                    right: 0;
                    display: inline-block;

                    @media(max-width: 991px) {
                      top: 20px;
                      right: 20px;
                    }
                  }
                }
                .sub-menu {
                    top: 45px;
                    width: 150px;
                    background-color: rgba(255, 255, 255, 0.5);
                    padding-left: 0;
                    display: none; 
                    position: absolute;
                    border-radius: 2px;
                    padding: 7px 0;

                    @media(max-width: 991px) {
                      position: relative;
                      background-color: transparent;
                      border: 0;
                      border-top: 1px solid rgba(255,255,255,0.9);
                      border-radius: 0;
                      width: 100%;
                      background-color: #26527c;
                      top: 0;
                      padding: 0;
                    }

                    @media(max-width: 667px) {
                      position: relative;
                      background-color: transparent;
                      border: 0;
                      border-top: 1px solid rgba(255,255,255,0.9);
                      border-radius: 0;
                      width: 100%;
                      background-color: #26527c;
                      top: 0;
                      padding: 0;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        left: 30%;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid rgba(255,2555,2555,0.5);

                        @media(max-width: 991px) {
                          display: none;
                        }
                        @media(max-width: 667px) {
                          display: none;
                        }
                    }

                    li {
                      list-style: none;

                      a {
                        list-style: none;
                        padding: 10px  !important;
                        display: block;
                        color: #212529;

                        @media(max-width: 991px) {
                          color: #fff;
                          padding-left: 25px !important;
                        }
                        @media(max-width: 667px) {
                          color: #fff;
                          padding-left: 25px !important;
                        }

                        &:after {
                          display: none;
                        }

                        &:hover {
                          background-color: #fff;
                        }
                      }
                    }
                }

                &:hover {
                  .sub-menu {
                      display: block;
                  }
                }
                
              }
            }
          }
          .navbar-collapse {
            @media(max-width: 991px) {
              background-color: #fff;
              z-index: 1;
              margin-top: 10px;
            }
            @media(max-width: 667px) {
              background-color: #fff;
              z-index: 1;
              margin-top: 10px;
            }
          }
      }
    }


    &.header-subpage {
      background-color: #232f3b;

      .navbar {
        .navbar-brand {
          margin: 0;
        }
      }
    }

}