/**********
SECTIONS
************/

section {
	padding: 60px 0;

    @media(max-width: 1024px) {
        padding: 30px 0;
    }
    @media(max-width: 768px) {
        padding: 20px 0;
    }
    @media(max-width: 667px) {
        padding: 30px 0;
    }
}

/**********
BANNER
************/

.section-banner {
	padding: 0;
}

/**********
EXPERTISE
************/

.section-expertise {
    position: relative;
    .container {
        border-bottom: 1px solid #D8D8D8;

        p {
            margin-top: 60%;
              @media(max-width: 1024px) {
                margin-top: 35%;
              }
              

            @media(max-width: 768px) {
                  margin-top: 15%;
            }
            @media(max-width: 667px) {
              margin-top: 0;
            }
        }

    }
}

/**********
CLIENTS
************/

.clients-list {
    margin-top: 50px;

    @media(max-width: 667px) {
         margin-top: 20px;
    }

    .client-item {
        height: 240px;
        width: 290px;
        padding: 70px 0;
        text-align: center;
        vertical-align: middle;

          @media(max-width: 1024px) {
              width: 200px;
          }
          

        @media(max-width: 991px) {
            width: 100%;
            height: 140px;
            padding: 10px 0;
        }
        @media(max-width: 667px) {
            width: 100%;
        }

        img {
            width: 106px;
            height: 106px;
            @media(max-width: 667px) {
                width: 100%;
            }
        }

    }

}

/**********
TESTIMONIALS
************/
.section-testimonial {
    .bg-blue {
        padding: 60px;

        @media(max-width: 667px) {
            padding: 30px;
        }
        
    }

    .item {
        .testimonial-msg {
            font-family: Optima;
            font-size: 32px;
            color: #26527C;
            line-height: 40px;
            letter-spacing: 0.3px;
            margin-bottom: 40px;

            @media(max-width: 1024) {
                font-size: 24px;
                line-height: 25px;
            }
            @media(max-width: 768px) {
                font-size: 18px;
                line-height: 25px;
            }
            @media(max-width: 667px) {
                font-size: 16px;
                line-height: 20px;
            }

        }

        .testimonial-author {
            font-family: BasisGrotesquePro;
        }
    }

    .owl-theme {

        .owl-prev {
            display: none !important;
        }

        .owl-dots {
            margin-bottom: 30px;
            text-align: left !important;

            .owl-dot {

                button {
                    background: transparent !important;
                    border: none;
                    font-family: BasisGrotesquePro;
                    color: #D8D8D8;
                }

                &.active {
                    position: relative;
                    padding-right: 50px;

                    &:after {
                        content: "______";
                        position: absolute;
                        top: -7px;
                        padding-left: 5px;
                        color: #D8D8D8;


                        &:last-child {
                            content: "";
                            display: none;
                        }
                    }

                    button {
                        color: #26527C;
                    }
                }

                &:focus {
                    button {
                           outline: none;
                        box-shadow: none;

                        &:focus {
                                outline: none;
                        }
                    }
                }
            }
        }

        .owl-nav {
            margin-top: 90px;

            @media(max-width: 667px) {
                margin-top: 40px;
                margin-bottom: 10px;
            }

            button {
                &.owl-next {
                    position: absolute;
                    right: 0;

                      transition: all .5s ease-in-out;
                      -webkit-transition: all .5s ease-in-out;
                      -moz-transition: all .5s ease-in-out;
                      -o-transition: all .5s ease-in-out;
                      -ms-transition: all .5s ease-in-out;


                    &:hover {
                          transform: translate(2.5em,0);
                          -webkit-transform: translate(2.5em,0);
                          -moz-transform: translate(2.5em,0);
                          -o-transform: translate(2.5em,0);
                          -ms-transform: translate(2.5em,0);
                    }

                    @media(max-width: 667px) {
                        bottom: -45px;
                    }


                }
            }

            [class*=owl-]:hover {
                background-color: transparent;
                outline: none;
            }
        }

    }
}



