/**********
ICONS
************/

@keyframes MoveUpDown {
  50% {bottom: 5px}
}

.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;

    p {
        margin-bottom: 35px;
        font-size: 12px;
        color: #fff;
        opacity: .4;
    }
}
 

.icon-scrolldown {
	background-image: url('../images/icons/icon-scrolldown.png');
	height: 25px;
	width: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
  animation: MoveUpDown 1s linear infinite;
}

.icon-next {
	background-image: url('../images/icons/icon-arrow.png');
	height: 28px;
	width: 130px;
	display: block;
	background-repeat: no-repeat;
}