/**********
FONTS
************/

@font-face {
  font-family: Optima;
  src: url('assets/fonts/Optima.ttc');
}

@font-face {
  font-family: BasisGrotesquePro;
  src: url('assets/fonts/BasisGrotesquePro-Regular.otf');
}

/**********
TITLES
************/


.title-md {
    font-family: Optima;
    font-size: 56px;
    color: #26527C;

    @media(max-width: 1024px) { 
      font-size: 44px;
    }

    @media(max-width: 768px) { 
      font-size: 40px;
    }
}


.text-default {
    font-family: Optima;
    color: #595959;
}

.text-link {
    color: #0077EC;
    text-decoration: underline;
    font-family: Optima;
    font-size: 16px;
}

.text-blue {
    color: #0077EC;
}