/**********
BANNER
************/
.section-banner {
  min-height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 667px) {
    .section-banner {
      background-position: top;
      background-size: cover; } }
  .section-banner .banner-text {
    position: absolute;
    top: 30%;
    width: 43%; }
    @media (max-width: 1024px) {
      .section-banner .banner-text {
        top: 25%;
        width: 60%; } }
    @media (max-width: 991px) {
      .section-banner .banner-text {
        top: 20%;
        width: 80%; } }
    @media (max-width: 667px) {
      .section-banner .banner-text {
        top: 20%;
        width: 80%; } }
    .section-banner .banner-text h2 {
      font-family: Optima;
      font-size: 56px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0; }
      @media (max-width: 1024px) {
        .section-banner .banner-text h2 {
          font-size: 44px; } }
      @media (max-width: 667px) {
        .section-banner .banner-text h2 {
          font-size: 28px; } }
    .section-banner .banner-text p {
      font-family: Optima;
      font-size: 16px;
      color: #fff;
      margin: 10px 0;
      width: 95%; }
      @media (max-width: 667px) {
        .section-banner .banner-text p {
          margin-bottom: 40px; } }
