/**********
FOOTER
************/
footer {
  background-color: #232F3B;
  padding: 60px 0; }
  @media (max-width: 768px) {
    footer {
      padding: 40px 0px; } }
  @media (max-width: 667px) {
    footer {
      padding: 40px 0px; } }
  @media (max-width: 667px) {
    footer .text-right {
      text-align: center !important; } }
  footer .footer-upper {
    border-bottom: 1px solid #979797; }
    footer .footer-upper .footer-brand {
      margin-bottom: 30px; }
      @media (max-width: 667px) {
        footer .footer-upper .footer-brand {
          text-align: center;
          margin-bottom: 20px; } }
    footer .footer-upper .footer-menu {
      padding-left: 0;
      margin-bottom: 0; }
      footer .footer-upper .footer-menu li {
        display: inline; }
        footer .footer-upper .footer-menu li a {
          display: inline-block;
          color: #fff;
          padding: 10px 20px;
          /* margin-bottom: 0; */
          font-family: BasisGrotesquePro;
          font-size: 14px; }
          @media (max-width: 768px) {
            footer .footer-upper .footer-menu li a {
              padding: 10px 15px; } }
          @media (max-width: 667px) {
            footer .footer-upper .footer-menu li a {
              padding: 20px 8px; } }
        footer .footer-upper .footer-menu li:last-child a {
          padding-right: 0; }
  footer .footer-bottom p {
    font-family: Optima;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 30px; }
    @media (max-width: 768px) {
      footer .footer-bottom p {
        margin-top: 16px;
        font-size: 13px; } }
    @media (max-width: 667px) {
      footer .footer-bottom p {
        margin: 10px 0; } }
