/**********
HEADER
************/
header {
  background-color: transparent; }
  header.main-header .navbar {
    width: 100%; }
    @media (max-width: 991px) {
      header.main-header .navbar {
        padding: 0; } }
    @media (max-width: 667px) {
      header.main-header .navbar {
        padding: 0; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler {
        border: 1px solid #ddd;
        z-index: 1;
        margin-right: 20px; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler {
        border: 1px solid #ddd;
        z-index: 1;
        margin-right: 20px; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler span {
        color: #fff; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler span {
        color: #fff; } }
    header.main-header .navbar .navbar-toggler span:focus, header.main-header .navbar .navbar-toggler span:active, header.main-header .navbar .navbar-toggler span:hover {
      outline: none; }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
        outline: none;
        background-color: #fff; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
        outline: none;
        background-color: #fff; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
        color: #000; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
        color: #000; } }
    header.main-header .navbar .navbar-brand {
      margin-left: 84px;
      margin-top: 50px; }
      @media (max-width: 1024px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 30px;
          margin-top: 25px; } }
      @media (max-width: 991px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 20px;
          margin-top: 10px; } }
      @media (max-width: 667px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 20px;
          margin-top: 10px; } }
    header.main-header .navbar .navbar-nav .nav-item {
      display: inline-block; }
      @media (max-width: 991px) {
        header.main-header .navbar .navbar-nav .nav-item:hover {
          background-color: #26527c; } }
      @media (max-width: 667px) {
        header.main-header .navbar .navbar-nav .nav-item:hover {
          background-color: #26527c; } }
      header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
        color: #fff; }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
            color: #fff;
            background-color: #26527C; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
            color: #fff;
            background-color: #26527C; } }
      header.main-header .navbar .navbar-nav .nav-item .nav-link {
        color: #D8D8D8;
        padding: 30px 20px !important;
        position: relative; }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:hover {
          color: #fff; }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
          content: "";
          position: absolute;
          z-index: 1;
          right: 0;
          width: 0;
          bottom: 20px;
          background: #fff;
          height: 2px;
          transition-property: width;
          transition-duration: 0.3s;
          transition-timing-function: ease-out; }
          @media (max-width: 991px) {
            header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
          @media (max-width: 667px) {
            header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:hover:after, header.main-header .navbar .navbar-nav .nav-item .nav-link:focus:after, header.main-header .navbar .navbar-nav .nav-item .nav-link:active:after {
          left: 0;
          right: auto;
          width: 100%; }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link {
            color: #000;
            padding: 15px !important;
            font-size: 14px; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link {
            color: #000;
            padding: 15px !important;
            font-size: 14px; } }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link .fa {
            float: right; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link .fa {
            float: right; } }
      header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
        top: 90%;
        background-color: rgba(255, 255, 255, 0.5); }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
            position: relative;
            background-color: transparent;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.9);
            border-radius: 0; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
            position: relative;
            background-color: transparent;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.9);
            border-radius: 0; } }
        header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
          content: "";
          position: absolute;
          top: -5px;
          left: 30%;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid rgba(255, 255, 255, 0.5); }
          @media (max-width: 991px) {
            header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
              display: none; } }
          @media (max-width: 667px) {
            header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
              display: none; } }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
            color: #fff; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
            color: #fff; } }
      header.main-header .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block; }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-collapse {
        background-color: #fff;
        z-index: 1;
        margin-top: 10px; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-collapse {
        background-color: #fff;
        z-index: 1;
        margin-top: 10px; } }
