@media(max-width: 1024px) {
    
}


@media(max-width: 991px) {
    
}


@media(max-width: 768px) {
    
}




@media(max-width: 736px) {
    
}


@media(max-width: 667px) {
	.main-header .navbar-brand {
	    margin-left: 20px;
	    margin-top: 10px;
	}

	.navbar-toggler {
	    border: 1px solid #ddd;
	    z-index: 1;
	    margin-right: 20px;
	}

	.navbar-toggler-icon {
	    background-color: #ccc;
	}

	.navbar-toggler-icon:focus, .navbar-toggler-icon:active, .navbar-toggler-icon:hover {
	    oute: none;
	}

	.banner-text h2 {
	    font-size: 28px;
	}

	.section-banner {
	    background-position: top;
	    background-size: cover;
	}

	.venncircle {
	    width: 120px;
	    height: 120px;
	}

	.venncirclft {
	    margin-left: -140px;
	    margin-top: 70px;
	}

	.venncircrt {
	    margin-top: 70px;
	    margin-left: -12px;
	}

	.venn-container {
	    padding: 20px 20px 20px 180px;
	}

	.banner-text {
	    top: 20%;
	    width: 80%;
	}

	.banner-text p {
	    margin-bottom: 40px;
	}

	.title-md {
	    font-size: 40px;
	}

	section {
	    padding: 30px 0;
	}

	.section-expertise p {
	    margin-top: 0;
	}

	.client-item {
	    width: 100%;
	    height: 100px;
	    padding: 10px 0;
	}

	.client-item img {
	    width: 100%;
	}

	.clients-list {
	    margin-top: 20px;
	}

	.section-testimonial .item .testimonial-msg {
	    font-size: 16px;
	    line-height: 20px;
	}

	.section-testimonial .bg-blue {
	    padding: 30px;
	}

	.section-testimonial .owl-theme .owl-nav {
	    margin-top: 40px;
	    margin-bottom: 10px;
	}

	.section-testimonial .owl-carousel .owl-nav button.owl-next {
	    bottom: -45px;
	}

	.footer-brand {
	    text-align: center;
	}

	footer .text-right {
	    text-align: center !important;
	}

	footer .footer-menu li a {
	    padding: 20px 8px;
	}

	footer .footer-brand {
	    margin-bottom: 20px;
	}

	footer .footer-bottom p {
	    margin: 10px 0;
	}

	footer {
	    padding: 40px 0px;
	}

	.navbar-toggler span {
	    color: #fff;
	}

	.navbar-collapse {
	    background-color: #fff;
	    z-index: 1;
	    margin-top: 10px;
	}

	.main-header .navbar {
	    padding: 0;
	}

	.main-header .nav-item a.nav-link {
	    color: #000;
	    padding: 15px !important;
	}

	.main-header .nav-item.active a.nav-link {
	    color: #fff;
	    background-color: #26527C;
	}

	.navbar-toggler:focus,
	.navbar-toggler:hover {
	    outline: none;
	    background-color: #fff;
	}

	.navbar-toggler:focus span, .navbar-toggler:hover span {
	    color: #000;
	}

	.main-header .nav-item .nav-link:hover {
	    color: #fff;
	}

	.main-header .nav-item:hover {
	    background-color: #26527c;
	}

	.main-header .nav-item .nav-link:after {
	    display: none;
	}

	li.nav-item.dropdown .nav-link .fa {
	    float: right;
	}

	.main-header .nav-item.dropdown .dropdown-menu {
	    position: relative;
	}

	.main-header .nav-item.dropdown .dropdown-menu {
	    background-color: transparent;
	    border: 0;
	    border-top: 1px solid rgba(255,255,255,0.9);
	    border-radius: 0;
	}

	.main-header .nav-item.dropdown .dropdown-menu:before {
	    display: none;
	}

	.main-header .nav-item.dropdown .dropdown-menu .dropdown-item {
	    color: #fff;
	}

	.venncirctop, .venncirclft, .venncircrt, .venncircbtm {
	    width: 150px;
	    height: 150px;
	}

	.venntxttop {
	    top: 0;
	}

	.venncirctop > a, .venncirclft > a, .venncircrt > a, .venncircbtm > a {
	    font-size: 12px;
	}

	.venntxtlft {
	    top: 35px;
	    left: -13px;
	}

	.venntxtrt {
	    top: 30px;
	    right: 18px;
	}

	.venntxtbtm {
	    top: 82px;
	    width: 100%;
	}
}


@media(max-width: 640px) {
    
}




@media(max-width: 600px) {
    
}


@media(max-width: 568px) {


}


@media(max-width: 480px) {
    
}


@media(max-width: 414px) {
    
}


@media(max-width: 384px) {
    
}




@media(max-width: 375px) {
    
}


@media(max-width: 320px) {
    
}