/**********
SECTIONS
************/
section {
  padding: 60px 0; }
  @media (max-width: 1024px) {
    section {
      padding: 30px 0; } }
  @media (max-width: 768px) {
    section {
      padding: 20px 0; } }
  @media (max-width: 667px) {
    section {
      padding: 30px 0; } }

/**********
BANNER
************/
.section-banner {
  padding: 0; }

/**********
EXPERTISE
************/
.section-expertise {
  position: relative; }
  .section-expertise .container {
    border-bottom: 1px solid #D8D8D8; }
    .section-expertise .container p {
      margin-top: 60%; }
      @media (max-width: 1024px) {
        .section-expertise .container p {
          margin-top: 35%; } }
      @media (max-width: 768px) {
        .section-expertise .container p {
          margin-top: 15%; } }
      @media (max-width: 667px) {
        .section-expertise .container p {
          margin-top: 0; } }

/**********
CLIENTS
************/
.clients-list {
  margin-top: 50px; }
  @media (max-width: 667px) {
    .clients-list {
      margin-top: 20px; } }
  .clients-list .client-item {
    height: 240px;
    width: 290px;
    padding: 70px 0;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 1024px) {
      .clients-list .client-item {
        width: 200px; } }
    @media (max-width: 991px) {
      .clients-list .client-item {
        width: 100%;
        height: 140px;
        padding: 10px 0; } }
    @media (max-width: 667px) {
      .clients-list .client-item {
        width: 100%; } }
    @media (max-width: 667px) {
      .clients-list .client-item img {
        width: 100%; } }

/**********
TESTIMONIALS
************/
.section-testimonial .bg-blue {
  padding: 60px; }
  @media (max-width: 667px) {
    .section-testimonial .bg-blue {
      padding: 30px; } }

.section-testimonial .item .testimonial-msg {
  font-family: Optima;
  font-size: 32px;
  color: #26527C;
  line-height: 40px;
  letter-spacing: 0.3px;
  margin-bottom: 40px; }
  @media (max-width: 1024) {
    .section-testimonial .item .testimonial-msg {
      font-size: 24px;
      line-height: 25px; } }
  @media (max-width: 768px) {
    .section-testimonial .item .testimonial-msg {
      font-size: 18px;
      line-height: 25px; } }
  @media (max-width: 667px) {
    .section-testimonial .item .testimonial-msg {
      font-size: 16px;
      line-height: 20px; } }

.section-testimonial .item .testimonial-author {
  font-family: BasisGrotesquePro; }

.section-testimonial .owl-theme .owl-prev {
  display: none !important; }

.section-testimonial .owl-theme .owl-dots {
  margin-bottom: 30px;
  text-align: left !important; }
  .section-testimonial .owl-theme .owl-dots .owl-dot button {
    background: transparent !important;
    border: none;
    font-family: BasisGrotesquePro;
    color: #D8D8D8; }
  .section-testimonial .owl-theme .owl-dots .owl-dot.active {
    position: relative;
    padding-right: 50px; }
    .section-testimonial .owl-theme .owl-dots .owl-dot.active:after {
      content: "______";
      position: absolute;
      top: -7px;
      padding-left: 5px;
      color: #D8D8D8; }
      .section-testimonial .owl-theme .owl-dots .owl-dot.active:after:last-child {
        content: "";
        display: none; }
    .section-testimonial .owl-theme .owl-dots .owl-dot.active button {
      color: #26527C; }
  .section-testimonial .owl-theme .owl-dots .owl-dot:focus button {
    outline: none;
    box-shadow: none; }
    .section-testimonial .owl-theme .owl-dots .owl-dot:focus button:focus {
      outline: none; }

.section-testimonial .owl-theme .owl-nav {
  margin-top: 90px; }
  @media (max-width: 667px) {
    .section-testimonial .owl-theme .owl-nav {
      margin-top: 40px;
      margin-bottom: 10px; } }
  .section-testimonial .owl-theme .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out; }
    .section-testimonial .owl-theme .owl-nav button.owl-next:hover {
      transform: translate(2.5em, 0);
      -webkit-transform: translate(2.5em, 0);
      -moz-transform: translate(2.5em, 0);
      -o-transform: translate(2.5em, 0);
      -ms-transform: translate(2.5em, 0); }
    @media (max-width: 667px) {
      .section-testimonial .owl-theme .owl-nav button.owl-next {
        bottom: -45px; } }
  .section-testimonial .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
    outline: none; }
