/**********
GLOBAL
************/
.container-fluid {
  width: 95%; }

/**********
FONTS
************/
@font-face {
  font-family: Optima;
  src: url("../fonts/Optima.ttc"); }

@font-face {
  font-family: BasisGrotesquePro;
  src: url("../fonts/BasisGrotesquePro-Regular.otf"); }

/**********
TITLES
************/
.title-md {
  font-family: Optima;
  font-size: 56px;
  color: #26527C; }
  @media (max-width: 1024px) {
    .title-md {
      font-size: 44px; } }
  @media (max-width: 768px) {
    .title-md {
      font-size: 40px; } }

.text-default {
  font-family: Optima;
  color: #595959; }

.text-link {
  color: #0077EC;
  text-decoration: underline;
  font-family: Optima;
  font-size: 16px; }

.text-blue {
  color: #0077EC; }

/**********
BACKGROUND
************/
.bg-blue {
  background: linear-gradient(90deg, #f2faff 0%, #d5e8ff 100%); }

.bg-gray {
  background-color: #F6F6F6; }

/**********
ICONS
************/
@keyframes MoveUpDown {
  50% {
    bottom: 5px; } }

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px; }
  .scroll-down p {
    margin-bottom: 35px;
    font-size: 12px;
    color: #fff;
    opacity: .4; }

.icon-scrolldown {
  background-image: url("../images/icons/icon-scrolldown.png");
  height: 25px;
  width: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  animation: MoveUpDown 1s linear infinite; }

.icon-next {
  background-image: url("../images/icons/icon-arrow.png");
  height: 28px;
  width: 130px;
  display: block;
  background-repeat: no-repeat; }

/**********
HEADER
************/
header {
  background-color: transparent; }
  header.main-header .navbar {
    width: 100%; }
    @media (max-width: 991px) {
      header.main-header .navbar {
        padding: 0; } }
    @media (max-width: 667px) {
      header.main-header .navbar {
        padding: 0; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler {
        border: 1px solid #ddd;
        z-index: 1;
        margin-right: 20px; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler {
        border: 1px solid #ddd;
        z-index: 1;
        margin-right: 20px; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler span {
        color: #fff; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler span {
        color: #fff; } }
    header.main-header .navbar .navbar-toggler span:focus, header.main-header .navbar .navbar-toggler span:active, header.main-header .navbar .navbar-toggler span:hover {
      outline: none; }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
        outline: none;
        background-color: #fff; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler:focus, header.main-header .navbar .navbar-toggler:hover {
        outline: none;
        background-color: #fff; } }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
        color: #000; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-toggler:focus span, header.main-header .navbar .navbar-toggler:hover span {
        color: #000; } }
    header.main-header .navbar .navbar-brand {
      margin-left: 84px;
      margin-top: 50px; }
      @media (max-width: 1024px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 30px;
          margin-top: 25px; } }
      @media (max-width: 991px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 20px;
          margin-top: 10px; } }
      @media (max-width: 667px) {
        header.main-header .navbar .navbar-brand {
          margin-left: 20px;
          margin-top: 10px; } }
    header.main-header .navbar .navbar-nav .nav-item {
      display: inline-block; }
      @media (max-width: 991px) {
        header.main-header .navbar .navbar-nav .nav-item:hover {
          background-color: #26527c; } }
      @media (max-width: 667px) {
        header.main-header .navbar .navbar-nav .nav-item:hover {
          background-color: #26527c; } }
      header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
        color: #fff; }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
            color: #fff;
            background-color: #26527C; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.active .nav-link {
            color: #fff;
            background-color: #26527C; } }
      header.main-header .navbar .navbar-nav .nav-item .nav-link {
        color: #D8D8D8;
        padding: 30px 20px !important;
        position: relative; }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:hover {
          color: #fff; }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
          content: "";
          position: absolute;
          z-index: 1;
          right: 0;
          width: 0;
          bottom: 20px;
          background: #fff;
          height: 2px;
          transition-property: width;
          transition-duration: 0.3s;
          transition-timing-function: ease-out; }
          @media (max-width: 991px) {
            header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
          @media (max-width: 667px) {
            header.main-header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
        header.main-header .navbar .navbar-nav .nav-item .nav-link:hover:after, header.main-header .navbar .navbar-nav .nav-item .nav-link:focus:after, header.main-header .navbar .navbar-nav .nav-item .nav-link:active:after {
          left: 0;
          right: auto;
          width: 100%; }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link {
            color: #000;
            padding: 15px !important;
            font-size: 14px; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link {
            color: #000;
            padding: 15px !important;
            font-size: 14px; } }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link .fa {
            float: right; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item .nav-link .fa {
            float: right; } }
      header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
        top: 90%;
        background-color: rgba(255, 255, 255, 0.5); }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
            position: relative;
            background-color: transparent;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.9);
            border-radius: 0; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
            position: relative;
            background-color: transparent;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.9);
            border-radius: 0; } }
        header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
          content: "";
          position: absolute;
          top: -5px;
          left: 30%;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid rgba(255, 255, 255, 0.5); }
          @media (max-width: 991px) {
            header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
              display: none; } }
          @media (max-width: 667px) {
            header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu:before {
              display: none; } }
        @media (max-width: 991px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
            color: #fff; } }
        @media (max-width: 667px) {
          header.main-header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
            color: #fff; } }
      header.main-header .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block; }
    @media (max-width: 991px) {
      header.main-header .navbar .navbar-collapse {
        background-color: #fff;
        z-index: 1;
        margin-top: 10px; } }
    @media (max-width: 667px) {
      header.main-header .navbar .navbar-collapse {
        background-color: #fff;
        z-index: 1;
        margin-top: 10px; } }

/**********
SECTIONS
************/
section {
  padding: 60px 0; }
  @media (max-width: 1024px) {
    section {
      padding: 30px 0; } }
  @media (max-width: 768px) {
    section {
      padding: 20px 0; } }
  @media (max-width: 667px) {
    section {
      padding: 30px 0; } }

/**********
BANNER
************/
.section-banner {
  padding: 0; }

/**********
EXPERTISE
************/
.section-expertise {
  position: relative; }
  .section-expertise .container {
    border-bottom: 1px solid #D8D8D8; }
    .section-expertise .container p {
      margin-top: 60%; }
      @media (max-width: 1024px) {
        .section-expertise .container p {
          margin-top: 35%; } }
      @media (max-width: 768px) {
        .section-expertise .container p {
          margin-top: 15%; } }
      @media (max-width: 667px) {
        .section-expertise .container p {
          margin-top: 0; } }

/**********
CLIENTS
************/
.clients-list {
  margin-top: 50px; }
  @media (max-width: 667px) {
    .clients-list {
      margin-top: 20px; } }
  .clients-list .client-item {
    height: 240px;
    width: 290px;
    padding: 70px 0;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 1024px) {
      .clients-list .client-item {
        width: 200px; } }
    @media (max-width: 991px) {
      .clients-list .client-item {
        width: 100%;
        height: 140px;
        padding: 10px 0; } }
    @media (max-width: 667px) {
      .clients-list .client-item {
        width: 100%; } }
    @media (max-width: 667px) {
      .clients-list .client-item img {
        width: 100%; } }

/**********
TESTIMONIALS
************/
.section-testimonial .bg-blue {
  padding: 60px; }
  @media (max-width: 667px) {
    .section-testimonial .bg-blue {
      padding: 30px; } }

.section-testimonial .item .testimonial-msg {
  font-family: Optima;
  font-size: 32px;
  color: #26527C;
  line-height: 40px;
  letter-spacing: 0.3px;
  margin-bottom: 40px; }
  @media (max-width: 1024) {
    .section-testimonial .item .testimonial-msg {
      font-size: 24px;
      line-height: 25px; } }
  @media (max-width: 768px) {
    .section-testimonial .item .testimonial-msg {
      font-size: 18px;
      line-height: 25px; } }
  @media (max-width: 667px) {
    .section-testimonial .item .testimonial-msg {
      font-size: 16px;
      line-height: 20px; } }

.section-testimonial .item .testimonial-author {
  font-family: BasisGrotesquePro; }

.section-testimonial .owl-theme .owl-prev {
  display: none !important; }

.section-testimonial .owl-theme .owl-dots {
  margin-bottom: 30px;
  text-align: left !important; }
  .section-testimonial .owl-theme .owl-dots .owl-dot button {
    background: transparent !important;
    border: none;
    font-family: BasisGrotesquePro;
    color: #D8D8D8; }
  .section-testimonial .owl-theme .owl-dots .owl-dot.active {
    position: relative;
    padding-right: 50px; }
    .section-testimonial .owl-theme .owl-dots .owl-dot.active:after {
      content: "______";
      position: absolute;
      top: -7px;
      padding-left: 5px;
      color: #D8D8D8; }
      .section-testimonial .owl-theme .owl-dots .owl-dot.active:after:last-child {
        content: "";
        display: none; }
    .section-testimonial .owl-theme .owl-dots .owl-dot.active button {
      color: #26527C; }
  .section-testimonial .owl-theme .owl-dots .owl-dot:focus button {
    outline: none;
    box-shadow: none; }
    .section-testimonial .owl-theme .owl-dots .owl-dot:focus button:focus {
      outline: none; }

.section-testimonial .owl-theme .owl-nav {
  margin-top: 90px; }
  @media (max-width: 667px) {
    .section-testimonial .owl-theme .owl-nav {
      margin-top: 40px;
      margin-bottom: 10px; } }
  .section-testimonial .owl-theme .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out; }
    .section-testimonial .owl-theme .owl-nav button.owl-next:hover {
      transform: translate(2.5em, 0);
      -webkit-transform: translate(2.5em, 0);
      -moz-transform: translate(2.5em, 0);
      -o-transform: translate(2.5em, 0);
      -ms-transform: translate(2.5em, 0); }
    @media (max-width: 667px) {
      .section-testimonial .owl-theme .owl-nav button.owl-next {
        bottom: -45px; } }
  .section-testimonial .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
    outline: none; }

/**********
FOOTER
************/
footer {
  background-color: #232F3B;
  padding: 60px 0; }
  @media (max-width: 768px) {
    footer {
      padding: 40px 0px; } }
  @media (max-width: 667px) {
    footer {
      padding: 40px 0px; } }
  @media (max-width: 667px) {
    footer .text-right {
      text-align: center !important; } }
  footer .footer-upper {
    border-bottom: 1px solid #979797; }
    footer .footer-upper .footer-brand {
      margin-bottom: 30px; }
      @media (max-width: 667px) {
        footer .footer-upper .footer-brand {
          text-align: center;
          margin-bottom: 20px; } }
    footer .footer-upper .footer-menu {
      padding-left: 0;
      margin-bottom: 0; }
      footer .footer-upper .footer-menu li {
        display: inline; }
        footer .footer-upper .footer-menu li a {
          display: inline-block;
          color: #fff;
          padding: 10px 20px;
          /* margin-bottom: 0; */
          font-family: BasisGrotesquePro;
          font-size: 14px; }
          @media (max-width: 768px) {
            footer .footer-upper .footer-menu li a {
              padding: 10px 15px; } }
          @media (max-width: 667px) {
            footer .footer-upper .footer-menu li a {
              padding: 20px 8px; } }
        footer .footer-upper .footer-menu li:last-child a {
          padding-right: 0; }
  footer .footer-bottom p {
    font-family: Optima;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 30px; }
    @media (max-width: 768px) {
      footer .footer-bottom p {
        margin-top: 16px;
        font-size: 13px; } }
    @media (max-width: 667px) {
      footer .footer-bottom p {
        margin: 10px 0; } }

/**********
BUTTONS
************/
.btn {
  display: inline-block;
  vertical-align: top;
  outline: none;
  text-align: center;
  border: 1px solid;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -o-border-radius: .2rem;
  border-radius: .2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  overflow: hidden; }

.btn.focus,
.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none; }

.btn:after {
  content: "";
  display: block;
  width: 100%;
  height: 2rem;
  position: absolute;
  left: -95%;
  bottom: 15%;
  background-color: #fff;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.btn:hover:after {
  transition: all .3s ease;
  left: 100%; }

.btn-white {
  border: 4px solid #B0B5BE;
  background-color: #fff;
  font-family: BasisGrotesquePro;
  font-size: 14px;
  padding: 10px 30px; }
  .btn-white:hover {
    background-color: #ccc;
    color: #fff; }

/**********
BANNER
************/
.section-banner {
  min-height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 667px) {
    .section-banner {
      background-position: top;
      background-size: cover; } }
  .section-banner .banner-text {
    position: absolute;
    top: 30%;
    width: 43%; }
    @media (max-width: 1024px) {
      .section-banner .banner-text {
        top: 25%;
        width: 60%; } }
    @media (max-width: 991px) {
      .section-banner .banner-text {
        top: 20%;
        width: 80%; } }
    @media (max-width: 667px) {
      .section-banner .banner-text {
        top: 20%;
        width: 80%; } }
    .section-banner .banner-text h2 {
      font-family: Optima;
      font-size: 56px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0; }
      @media (max-width: 1024px) {
        .section-banner .banner-text h2 {
          font-size: 44px; } }
      @media (max-width: 667px) {
        .section-banner .banner-text h2 {
          font-size: 28px; } }
    .section-banner .banner-text p {
      font-family: Optima;
      font-size: 16px;
      color: #fff;
      margin: 10px 0;
      width: 95%; }
      @media (max-width: 667px) {
        .section-banner .banner-text p {
          margin-bottom: 40px; } }

/**********
VENN
************/
.venn-container {
  padding: 25px 25px 25px 200px; }
  @media (max-width: 991px) {
    .venn-container {
      padding: 20px 20px 20px 180px; } }
  @media (max-width: 667px) {
    .venn-container {
      padding: 20px 20px 20px 180px; } }

.venncirctop {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-bottom: -154px;
  margin-left: -70px;
  background-color: #5c5b59;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 1;
  position: relative;
  text-align: center; }
  @media (max-width: 1024px) {
    .venncirctop {
      width: 200px;
      height: 200px;
      margin-bottom: -140px; } }
  @media (max-width: 667px) {
    .venncirctop {
      width: 150px;
      height: 150px; } }
  @media (max-width: 991px) {
    .venncirctop {
      width: 150px;
      height: 150px; } }
  .venncirctop > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C; }
  .venncirctop:hover {
    z-index: 5;
    background-color: #6A6561;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff; }
    .venncirctop:hover a {
      color: #fff; }
    .venncirctop:hover .venntxttop {
      top: 35%; }
  .venncirctop .venntxttop {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 10px; }
    @media (max-width: 991px) {
      .venncirctop .venntxttop {
        top: 0; } }
    @media (max-width: 667px) {
      .venncirctop .venntxttop {
        top: 0; } }
    .venncirctop .venntxttop:hover {
      color: #FFFFFF;
      text-decoration: none; }

.venncirclft {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: -185px;
  background-color: #093d5c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 2; }
  @media (max-width: 1024px) {
    .venncirclft {
      width: 200px;
      height: 200px;
      margin-top: 6%;
      margin-left: -155px; } }
  @media (max-width: 991px) {
    .venncirclft {
      margin-left: -140px;
      margin-top: 70px;
      width: 150px;
      height: 150px; } }
  @media (max-width: 667px) {
    .venncirclft {
      margin-left: -140px;
      margin-top: 70px;
      width: 150px;
      height: 150px; } }
  .venncirclft > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C; }
  .venncirclft:hover {
    z-index: 5;
    background-color: #37688C;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff; }
    .venncirclft:hover a {
      color: #fff; }
    .venncirclft:hover .venntxtlft {
      left: 35%; }
  .venncirclft .venntxtlft {
    width: 70%;
    display: inline-block;
    position: relative;
    top: 90px;
    z-index: 5; }
    @media (max-width: 1024px) {
      .venncirclft .venntxtlft {
        top: 50px;
        left: 0px; } }
    @media (max-width: 991px) {
      .venncirclft .venntxtlft {
        top: 35px;
        left: -13px; } }
    @media (max-width: 667px) {
      .venncirclft .venntxtlft {
        top: 35px;
        left: -13px; } }
    .venncirclft .venntxtlft:hover {
      color: #FFFFFF;
      text-decoration: none; }

.venncircrt {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: 60px;
  background-color: #5e577b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 3;
  text-align: right; }
  @media (max-width: 1024px) {
    .venncircrt {
      width: 200px;
      height: 200px;
      margin-top: 6%;
      margin-left: 18px; } }
  @media (max-width: 991px) {
    .venncircrt {
      margin-top: 70px;
      margin-left: -12px;
      width: 150px;
      height: 150px; } }
  @media (max-width: 667px) {
    .venncircrt {
      margin-top: 70px;
      margin-left: -12px;
      width: 150px;
      height: 150px; } }
  .venncircrt > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C; }
  .venncircrt:hover {
    z-index: 5;
    background-color: #625F75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff; }
    .venncircrt:hover a {
      color: #fff; }
    .venncircrt:hover .venntxtrt {
      right: 35%; }
  .venncircrt .venntxtrt {
    margin: 0 0 0 87px;
    display: inline-block;
    position: relative;
    top: 97px;
    z-index: 5; }
    @media (max-width: 1024px) {
      .venncircrt .venntxtrt {
        top: 50px; } }
    @media (max-width: 991px) {
      .venncircrt .venntxtrt {
        top: 30px;
        right: 18px; } }
    @media (max-width: 667px) {
      .venncircrt .venntxtrt {
        top: 30px;
        right: 18px; } }
    .venncircrt .venntxtrt:hover {
      color: #FFFFFF;
      text-decoration: none; }

.venncircbtm {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  top: 116px;
  margin-right: 100px;
  margin-left: -70px;
  text-align: center;
  background-color: #627746;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0, 199, 236, 0.4);
  z-index: 1;
  position: relative; }
  @media (max-width: 1024px) {
    .venncircbtm {
      width: 200px;
      height: 200px;
      margin-top: 0;
      margin-left: -65px; } }
  @media (max-width: 991px) {
    .venncircbtm {
      width: 150px;
      height: 150px; } }
  @media (max-width: 667px) {
    .venncircbtm {
      width: 150px;
      height: 150px; } }
  .venncircbtm > a {
    font-weight: bold;
    letter-spacing: .004em;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C; }
  .venncircbtm:hover {
    z-index: 5;
    background-color: #3a4e20;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff; }
    .venncircbtm:hover a {
      color: #fff; }
    .venncircbtm:hover .venntxtbtm {
      top: 40%; }
  .venncircbtm .venntxtbtm {
    text-align: center;
    display: inline-block;
    width: 70%;
    position: relative;
    top: 160px; }
    @media (max-width: 1024px) {
      .venncircbtm .venntxtbtm {
        width: 90%;
        top: 60%; } }
    @media (max-width: 991px) {
      .venncircbtm .venntxtbtm {
        top: 82px;
        width: 100%; } }
    @media (max-width: 667px) {
      .venncircbtm .venntxtbtm {
        top: 82px;
        width: 100%; } }
    .venncircbtm .venntxtbtm:hover {
      color: #FFFFFF;
      text-decoration: none; }
  @media (max-width: 667px) {
    .venncircbtm .venncircle {
      width: 120px;
      height: 120px; } }

@media (max-width: 1024px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 16px; } }

@media (max-width: 991px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 12px; } }

@media (max-width: 667px) {
  .venncirctop > a,
  .venncirclft > a,
  .venncircrt > a,
  .venncircbtm > a {
    font-size: 12px; } }
