/**********
BUTTONS
************/

.btn {
	display: inline-block;
    vertical-align: top;
    outline: none;
    text-align: center;
    border: 1px solid;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
}

.btn.focus, 
.btn:focus,
.btn:active,
.btn:hover {
	outline: none;
	box-shadow: none;
}

.btn:after {
    content: "";
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    left: -95%;
    bottom: 15%;
    background-color: #fff;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.btn:hover:after {
	transition: all .3s ease;
    left: 100%;
}


.btn-white {
    border: 4px solid #B0B5BE;
    background-color: #fff;
    font-family: BasisGrotesquePro;
    font-size: 14px;
    padding: 10px 30px;

    &:hover {
        background-color: #ccc;
        color: #fff;
    }
}