/**********
VENN
************/

.venn-container {
  padding: 25px 25px 25px 200px;

  @media(max-width: 991px) {
      padding: 20px 20px 20px 180px;
  }
  @media(max-width: 667px) {
      padding: 20px 20px 20px 180px;
  }
}

.venncirctop {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-bottom: -154px;
  margin-left: -70px;
  background-color: #5c5b59;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0,199,236, 0.4);
  z-index: 1;
  position: relative;
  text-align: center;

  @media(max-width: 1024px) {
      width: 200px;
      height: 200px;
      margin-bottom: -140px;
  }
  @media(max-width: 667px) {
      width: 150px;
      height: 150px;
  }
  @media(max-width: 991px) {
      width: 150px;
      height: 150px;
  }

  > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C;
  }

  &:hover {
    z-index: 5;
    background-color: #6A6561;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff;

    a {
      color: #fff;
    }

    .venntxttop {
        top: 35%;
    }

  }


  .venntxttop {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 10px;

    @media(max-width: 991px) {
        top: 0;
    }
    @media(max-width: 667px) {
        top: 0;
    }

    &:hover {
      color: #FFFFFF;
      text-decoration:none;
    }
  }
}

.venncirclft {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: -185px;
  background-color: #093d5c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0,199,236, 0.4);
  z-index: 2;

  @media(max-width: 1024px) {
      width: 200px;
      height: 200px;
     margin-top: 6%;
    margin-left: -155px;     
  }

 @media(max-width: 991px) {
      margin-left: -140px;
      margin-top: 70px;
      width: 150px;
      height: 150px;
  }

  @media(max-width: 667px) {
      margin-left: -140px;
      margin-top: 70px;
      width: 150px;
      height: 150px;
  }

  > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C;
  }

  &:hover {
    z-index: 5;
    background-color: #37688C;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff;

    a {
      color: #fff;
    }

    .venntxtlft {
        left: 35%;
    }
  }

  .venntxtlft {
    width: 70%;
    display: inline-block;
    position: relative;
    top: 90px;
    z-index: 5;

    @media(max-width: 1024px) {
      top: 50px;
      left: 0px;
    }
    @media(max-width: 991px) {
      top: 35px;
      left: -13px;
    }
    @media(max-width: 667px) {
      top: 35px;
      left: -13px;
    }

    &:hover {
      color: #FFFFFF;
      text-decoration:none;
    }

  }

}

.venncircrt {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: 60px;
  background-color: #5e577b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0,199,236, 0.4);
  z-index: 3;
  text-align: right;

  @media(max-width: 1024px) {
      width: 200px;
      height: 200px;
    margin-top: 6%;
    margin-left: 18px;

  }

  @media(max-width: 991px) {
      margin-top: 70px;
      margin-left: -12px;
      width: 150px;
      height: 150px;
  }

  @media(max-width: 667px) {
      margin-top: 70px;
      margin-left: -12px;
      width: 150px;
      height: 150px;
  }

  > a {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .004em;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C;
  }

  &:hover {
    z-index: 5;
    background-color: #625F75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff;

    a {
      color: #fff;
    }

    .venntxtrt {
        right: 35%;
    }
  }


  .venntxtrt {
    margin: 0 0 0 87px;
    display: inline-block;
    position: relative;
    top: 97px;
    z-index: 5;

    @media(max-width: 1024px) {
      top: 50px;
    }
    @media(max-width: 991px) {
      top: 30px;
      right: 18px;
    }
    @media(max-width: 667px) {
      top: 30px;
      right: 18px;
    }
    
    &:hover {
      color: #FFFFFF;
      text-decoration:none;
    }

  }


}

.venncircbtm {
  padding: 18px;
  width: 284px;
  height: 285px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  top: 116px;
  margin-right: 100px;
  margin-left: -70px;
  text-align: center;
  background-color: #627746;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(245, 250, 255, 0.5);
  border: 1px solid rgba(0,199,236, 0.4);
  z-index: 1;
  position: relative;


  @media(max-width: 1024px) {
      width: 200px;
      height: 200px;
     margin-top: 0;
    margin-left: -65px;

  }

  @media(max-width: 991px) {
      width: 150px;
      height: 150px;
  }
  @media(max-width: 667px) {
      width: 150px;
      height: 150px;
  }

   > a {
    font-weight: bold;
    letter-spacing: .004em;
    text-decoration: none;
    font-family: Optima;
    font-size: 18px;
    color: #26527C;
  }

  &:hover {
    z-index: 5;
    background-color: #3a4e20;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: rgba(55, 104, 140, 0.9);
    color: #fff;

    a {
      color: #fff;
    }

    .venntxtbtm {
        top: 40%;
    }
  }
  .venntxtbtm {
    text-align: center;
    display: inline-block;
    width: 70%;
    position: relative;
    top: 160px;


    @media(max-width: 1024px) {
        width: 90%;
    top: 60%;
    }

    @media(max-width: 991px) {
    top: 82px;
    width: 100%;
    }

    @media(max-width: 667px) {
    top: 82px;
    width: 100%;
    }

    &:hover {
      color: #FFFFFF;
      text-decoration:none;
    }
  }


  .venncircle {

    @media(max-width: 667px) {
      width: 120px;
      height: 120px;

    }
  }
}


.venncirctop > a, 
.venncirclft > a, 
.venncircrt > a, 
.venncircbtm > a {
  @media(max-width: 1024px) {
    font-size: 16px;
  }
  @media(max-width: 991px) {
    font-size: 12px;
  }
  @media(max-width: 667px) {
    font-size: 12px;
  }
}