/**********
FOOTER
************/

footer {
    background-color: #232F3B;
    padding: 60px 0;

    @media(max-width: 768px) {
       padding: 40px 0px;
    }

    @media(max-width: 667px) {
       padding: 40px 0px;
    }

    .text-right {

        @media(max-width: 667px) {
            text-align: center !important;
        }
    }

    .footer-upper {
        border-bottom: 1px solid #979797;

        .footer-brand {
            margin-bottom: 30px;

            @media(max-width: 667px) {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .footer-menu {
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline;

                a {
                    display: inline-block;
                    color: #fff;
                    padding: 10px 20px;
                    /* margin-bottom: 0; */
                    font-family: BasisGrotesquePro;
                    font-size: 14px;


                    @media(max-width: 768px) {
                    padding: 10px 15px;
                    }

                    @media(max-width: 667px) {
                        padding: 20px 8px;
                    }
                }

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .footer-bottom {
        p {
            font-family: Optima;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.4;
            margin-top: 30px;


            @media(max-width: 768px) {
                  margin-top: 16px;
                  font-size: 13px;
            }

            @media(max-width: 667px) {
                margin: 10px 0;
            }
        }
    }
}