/**********
HEADER
************/

header {
    background-color: transparent;

    &.main-header {

      .navbar {
          width: 100%;

          @media(max-width: 991px) { 
            padding: 0;
          }
          @media(max-width: 667px) {
            padding: 0;
          }

          .navbar-toggler {

            @media(max-width: 991px) { 
              border: 1px solid #ddd;
              z-index: 1;
              margin-right: 20px;
            }
            @media(max-width: 667px) {
              border: 1px solid #ddd;
              z-index: 1;
              margin-right: 20px;
            }

            span{
              @media(max-width: 991px) { 
                color: #fff;
              }
              @media(max-width: 667px) {
                color: #fff;
              }

              &:focus,
              &:active,
              &:hover {
                outline: none;
              }
            }

            &:focus,
            &:hover {
              @media(max-width: 991px) {

                outline: none;
                background-color: #fff;

              }
              @media(max-width: 667px) {

                outline: none;
                background-color: #fff;

              }

              span {
                 @media(max-width: 991px) {
                      color: #000;
                  }
                 @media(max-width: 667px) {
                      color: #000;
                  }
              }
            }

          }


          .navbar-brand {
              margin-left: 84px;
              margin-top: 50px;

              @media(max-width: 1024px) {
                margin-left: 30px;
                margin-top: 25px;
              }

              @media(max-width: 991px) {
                margin-left: 20px;
                margin-top: 10px;
              }

              @media(max-width: 667px) {
                margin-left: 20px;
                margin-top: 10px;
              }
          }

          .navbar-nav {
            .nav-item {

              display: inline-block;
              
              &:hover {
                @media(max-width: 991px) {
                background-color: #26527c;
                }
                @media(max-width: 667px) {
                background-color: #26527c;
                }
              }

              &.active {
                .nav-link {
                  color: #fff;

                  @media(max-width: 991px) {
                    color: #fff;
                    background-color: #26527C;
                  }
                  @media(max-width: 667px) {
                    color: #fff;
                    background-color: #26527C;
                  }
                }
              }

              .nav-link {
                color: #D8D8D8;
                padding: 30px 20px !important;
                position: relative;

                &:hover{
                    color: #fff;
                }

                &:after {
                  content: "";
                  position: absolute;
                  z-index: 1;
                  right: 0;
                  width: 0;
                  bottom: 20px;
                  background: #fff;
                  height: 2px;
                  transition-property: width;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;

                  @media(max-width: 991px) {
                    display: none;
                  }
                  @media(max-width: 667px) {
                    display: none;
                  }
                }



                &:hover:after,
                &:focus:after,
                &:active:after {
                  left: 0;
                  right: auto;
                  width: 100%;
                }

                @media(max-width: 991px) {
                  color: #000;
                  padding: 15px !important;
                  font-size: 14px;
                }


                @media(max-width: 667px) {
                  color: #000;
                  padding: 15px !important;
                  font-size: 14px;
                }

                .fa {
                  @media(max-width: 991px) {
                    float: right;
                  }
                  @media(max-width: 667px) {
                    float: right;
                  }
                }
              }

              &.dropdown {

                .dropdown-menu {
                    top: 90%;
                    background-color: rgba(255,2555,2555,0.5);


                    @media(max-width: 991px) {
                      position: relative;
                      background-color: transparent;
                      border: 0;
                      border-top: 1px solid rgba(255,255,255,0.9);
                      border-radius: 0;
                    }

                    @media(max-width: 667px) {
                      position: relative;
                      background-color: transparent;
                      border: 0;
                      border-top: 1px solid rgba(255,255,255,0.9);
                      border-radius: 0;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        left: 30%;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid rgba(255,2555,2555,0.5);

                        @media(max-width: 991px) {
                          display: none;
                        }
                        @media(max-width: 667px) {
                          display: none;
                        }
                    }

                    .dropdown-item {
                      @media(max-width: 991px) {
                        color: #fff;
                      }
                      @media(max-width: 667px) {
                        color: #fff;
                      }
                    }
                }

                &:hover {
                  .dropdown-menu {
                      display: block;
                  }
                }
                
              }
            }
          }
          .navbar-collapse {
            @media(max-width: 991px) {
              background-color: #fff;
              z-index: 1;
              margin-top: 10px;
            }
            @media(max-width: 667px) {
              background-color: #fff;
              z-index: 1;
              margin-top: 10px;
            }
          }
      }
    }
}