/**********
BANNER
************/

.section-banner {
    min-height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 667px) {
        background-position: top;
        background-size: cover;
    }


    .banner-text {
        position: absolute;
        top: 30%;
        width: 43%;

        @media(max-width: 1024px) {
            top: 25%;
            width: 60%;
        }

        @media(max-width: 991px) {

            top: 20%;
            width: 80%;
        }
        @media(max-width: 667px) {

            top: 20%;
            width: 80%;
        }

        h2 {
            font-family: Optima;
            font-size: 56px;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            margin-bottom: 0;


            @media(max-width: 1024px) {
                font-size: 44px;
            }

            @media(max-width: 667px) {
                font-size: 28px;
            }
        }


        p {
            font-family: Optima;
            font-size: 16px;
            color: #fff;
            margin: 10px 0;
            width: 95%;

            @media(max-width: 667px) {
                margin-bottom: 40px;
            }

        }
    }
}
